.storage
.cloud
.google.token
home-assistant_v2.db
*.log
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_assistant.json
tts
.DS_Store
._.DS_Store
*.pickle
